// .landing-container {
//   background-image: url("./assets/images/background.gif");
//   //   background-color: black;
//   background-size: cover;
// }

.logo-button {
  width: 70vw;
  text-align: center;
  display: block;
  margin: auto;
  padding-top: 40vh;
  padding-bottom: 60vh;
}
