.text-zone-classes {
  font-size: 1.3vw;
  line-height: 1.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  max-width: 35%;
  //margin-top: 10vh;
  margin-left: 7%;
  margin-right: 7%;
}

.classes-content {
  display: flex;
  align-items: center;
  height: 90%;
}

.classes-link {
  color: #478239;
  text-decoration: none;
}
.classes-link:hover {
  color: #8ebb84;
}

.classes-link:visited {
  color: #478239;
}
